@media only screen and (orientation : portrait) {
    body { padding: 0; font-size: 5vw; }
    
    .card {
        background-color: white;
        padding: 10px;
        margin: 0 ;
          }
    .mobilh1 { font-size: 5vw; }      
    .maintext {	
              color: black;    
              font-size: 5vw;
              margin-inline: auto;
              width: min(800px,90%);  
              }
            .maintext p, ul, li {font-family: times; font-size: 4vw;}
            .maintext h1 {
              text-align: center; 
              letter-spacing: 1px;
              font-size: 5vw;}
            .maintext h2 {font-size: 4.8vw;}
            .maintext h3 {font-size: 4.6vw;}
            .maintext h4 {font-size: 4.4vw;}
            .maintext h5 {font-size: 4.2vw;} 
            
    .headerstroke { display: block; 
        	height: 10vh; 
        	width: 100%; 
        	background-size: 260vw;
        	background-image: url(https://jacobliljehult.github.io/neuro/images/headerhjerne.png);
                        }
    .headerstroke h1, h2 { display: none; }
    .headerstat { display: block; 
      height: 15vh; 
      width: 100%; 
      background-size: 260vw;
      background-image: url(https://jacobliljehult.github.io/research/randomheader.png);
                    }
    .headerstat h1, h2 { display: none; }
    .topnav {
        display: grid;
        grid-template-columns: auto auto auto auto; }
  .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 4vw;
    }	
    .rightcolumn { width: 100% }
    .maintext { width: 100%; padding: 0; }
    /* Mobil nav menu */
    /*.menuBottom { font-size: 40px; }*/
    .mobilnav { width: 100%; 
          background-color: gray; 
          display: block; 
          float: left; font-size: 40px; 
              }
  .mobilnav a { text-align: center; color: white; text-decoration: none; }
  .navbar { padding: 10px; margin: 0; border: 0px solid red; text-decoration: none; display: inline-block; width: 100%}
  .mobilnav h2 { color: white; text-align: center; padding: 10px; margin: 0; border: 0px solid red; text-decoration: none; display: inline-block; width: 100%}
  .navbar:hover { background-color:white; color: gray; }.topnav a {
    float: none;
    width: 100%;
  } 
  .leftcolumn { 
    display: none;
    width: 100%; }

    /* Mobil footer */
    .footer_large { display: none; }
    .footer_small { display: block; background-color: rgb(87,87,87); padding-top: 10px; }
    .footer_small p { color: whitesmoke; }
    .footer_small a { color: cyan; }
    .footer_small img {
        width: 20%; height: 20%; 
        display: block; 
        margin-left: auto;
        margin-right: auto; 
        border-radius: 50%;
        border: 0px solid darkgray;}
    .footer_small_rights p { font-size: 3vw; }
    .footer_small_name { font-size: 6vw; }
    .gridbox  {   
      display:grid; gap: 20px;
      grid-template-columns: 1fr ;
                margin-left:auto; 
                margin-right: auto; 
                margin-top: 10px; margin-bottom: 30px;
                width: min(100%, 600px);	}

    .word-indexword { font-weight: bold; 
                      font-size: 5vw;
                      padding: 12px 4px 0px 4px;}
    .word-description { font-weight: normal;
        font-size: 5vw;
        padding: 0px 4px 8px 4px;}                
    .word-grid {display: grid;
            grid-template-columns: 1fr;
            border-top: 0px solid black;
            border-right: 0px solid black;}
    .word-grid > span { 
            border-bottom: 0px solid black;
            border-left: 0px solid black;}

}  
