@media only screen and (orientation : portrait) {
    body { padding: 0; font-size: 5vw; }
    img { max-width: 100%; display: block;}
    
    .card {
        background-color: white;
        padding: 10px;
        margin: 0 ;
          }
    .mobilh1 { font-size: 5vw; }      

    .indhold { display: none; }        
    .headerstroke { display: block; 
        	  height: 10vh; 
        	  width: 100%; 
        	  background-size: 260vw;
        	  background-image: url(https://jacobliljehult.github.io/neuro/images/headerhjerne.png);
                        }
    .headerstroke h1, h2 { display: none; }
    .headerstat { display: block; 
            height: 15vh; 
            width: 100%; 
            background-size: 260vw;
            background-image: url(https://jacobliljehult.github.io/research/randomheader.png);
                    }
    .headerstat h1, h2 { display: none; }
    .ref { font-size: 4vw; }

    /* Top navigator */
    .topnav {
            display: grid;
            grid-template-columns: auto auto auto auto; }
    .topnav a {
            float: left;
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 4vw;
            }	

    /* Mobil navigations-menu: Menu der kan foldes ned */    
    .mobilnav { width: 100%; 
            background-color: gray; 
            display: block; 
            float: left; font-size: 4vw; 
            }
    .navbar { width: 100%;
            padding: 10px; margin: 0; 
            border: 0px solid red; 
            text-decoration: none; 
            display: inline-block; }
    .mobilnav a { text-align: center; 
            color: white; 
            text-decoration: none; }
    .navbar:hover { background-color:white; 
            color: gray; }.topnav a {
            float: none;
            width: 100%;
            } 
    .menu--button { font-size: 5vw;
        width: 100%;
        color: white; 
        text-align: center; 
        padding: 10px; 
        margin: 0; 
        border: 0px solid red; 
        text-decoration: none; 
        display: inline-block;}
    /* Text vindue: I den mobile visning skal textvinduet fylde hele skærmen, mens
    menuen til venstre skal blindes */
    .rightcolumn { width: 100%; margin-inline: auto;}
    .maintext { width: 98%; margin-inline: auto; padding: 0; }
    
    .leftcolumn { display: none; width: 100%; }          

    /* Mobil footer */
    .footer_large { display: none; }
    .footer_small { display: block; background-color: rgb(87,87,87); padding-top: 10px; }
    .footer_small p { color: whitesmoke; }
    .footer_small a { color: cyan; }
    .footer_small img {
            width: 20%; height: 20%; 
            display: block; 
            margin-left: auto;
            margin-right: auto; 
            border-radius: 50%;
            border: 0px solid darkgray;}
    .footer_small_rights p { font-size: 3vw; }
    .footer_small_name { font-size: 5vw; }
    
    /* Hvad bruges gridbox til i mobilvisning?? */
    .gridbox  { width: 98%;   
            display:grid; gap: 20px;
            grid-template-columns: 1fr ;
            margin: 10px auto 10px auto;
              }
    .gridbox section, article {width: 100%;}          
    .gridbox img { max-width: 100%; display: block;}
    .imgbox { width: 98%;}
    .textbox {width: 98%; margin: auto;}
    .illustration { width: 98%; }
    /* Bruges til tabelvisning i ordlisten */            
    .word-indexword { 
            font-weight: bold; 
            font-size: 5vw;
            padding: 12px 4px 0px 4px;}
    .word-description { font-weight: normal;
            font-size: 5vw;
            padding: 0px 4px 8px 4px;}                
    .word-grid {display: grid;
            grid-template-columns: 1fr;
            border-top: 0px solid black;
            border-right: 0px solid black;}
    .word-grid > span { 
            border-bottom: 0px solid black;
            border-left: 0px solid black;}
  /*Tabel til GUSS test*/
    .dysfagi > p { font-size: 4vw; }

    .guss--grid { width: 100%; font-size: 4vw;  }
    .guss--heading { font-weight: bold; writing-mode: vertical-rl; padding: auto;}
    .guss--sign { font-size: 10vw ; }
    .box--pre { width: 98%; 
          margin: auto; 
          margin-top: 20px;
          display:grid; gap: 0px;
          grid-template-columns: 1fr; }

    .maintext {	
              color: black;    
              font-size: 5vw;
              margin-inline: auto;
              width: min(800px,90%); 
              display: block;
              }
            .maintext p, ul, li {font-family: times; font-size: 4vw;}
            .maintext h1 {
              text-align: center; 
              letter-spacing: 1px;
              font-size: 5vw;}
            .maintext h2 {font-size: 4.8vw;}
            .maintext h3 {font-size: 4.6vw;}
            .maintext h4 {font-size: 4.4vw;}
            .maintext h5 {font-size: 4.2vw;} 
            .p--small { font-size: 3.5vw; }
    .rmaintext {margin-inline: auto; width: 100%}            
    /* Slutning på media query for mobilvisning - MUST BE THE LAST LINE */ }   
