* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: rgb(245,245,245);
}

/* Headers */
.headerstroke {
  padding: 10px;
  text-align: center;
  color: white;
  background: rgb(192,0,0);
  background-image: url(/neuro/images/headerhjerne.png);
  background-repeat: no-repeat;}
.headerstroke h1 {  font-size: 50px;}

.headerstat {
  padding: 10px;
  text-align: center; 
  color: white;
  background: rgb(163,219,246);
  background-image: url(/research/randomheader.png);
  background-repeat: no-repeat;
  background-size: auto 200px;}
.headerstat h1 {  font-size: 50px;}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: rgb(35,35,35);
}
/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}	
/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 20%;
  max-width: 200px;
  height: 100%;
  background-color: rgb(245,245,245);
}

.sidenav {
  background-color: rgb(87,87,87);
  padding: 20px;
  margin-top: 10px;
  height: 100%;
}
.sidenav h3 {
  color:rgb(220,220,220);
  margin-bottom: 0px;
  text-align: right;
  text-transform: uppercase;
}
.sidenav a {
  float: right;
  display: block;
  color: rgb(220,220,220);
  margin-bottom: 0px;
  text-align: right;
  text-decoration: none;
	font-size: 12px;
}
.sidenav a:hover {
  background-color: rgb(220,220,220);
  color: black;
  width: 100%;
}
	
/* Right column */
.rightcolumn {
  float: left;
  width: 80%;
  background-color: rgb(245,245,245);
  padding-left: 20px;
}

/* Maintexts */
.maintext {	
    color: black;    
    font-size: 18px;
    margin-left: 10%;
    margin-right: 10%;
}
.maintext p, ul, li {font-family: times;}
.maintext h1 {text-align: center; letter-spacing: 1px;}
.centerimg img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.rmaintext {	
    color: black;    
    font-size: 16px;
    margin-left: 10%;
    margin-right: 10%;
}
/* r code */	
.rcode {
  border: 1px solid gray;
  margin: 20px;
  margin-right: 20px;
  margin-left: 20px;
  padding:15px;
  background-color: rgb(242,242,242);
  font-family: courier;
  font-size: 14px; 
}
.rcode a {color: "#0066ff"}
.rcode a:hover { background-color: "#f2f2f2"}
.routput {
  border: 1px solid gray;
  margin: 20px;
  margin-right: 20px;
  margin-left: 20px;
  padding:15px;
  background-color: white;
  font-family: courier;
  font-size: 14px; 
}
.routput table { text-align: right;}
.routput th { padding-right:10px; font-weight: normal;}
	
/* Image table */
#imgtable {width:80%;font-family:times;}
#imgtable table, tr, th {border:0px solid;}
#imgtable th {width:50%;padding:10px;vertical-align: top;min-width:200px;max-width:300px;}
#imgtable tr:hover {background-color: rgb(255,255,220);}
#imgtable h2 {font-size:20px;color:black;margin-top: 1px;}
#imgtable p {font-size:14px;color:gray;}
#imgtable a {text-decoration: none;}
#imgtable img {width:100%;height:100%;border: 1px solid gray;min-width:300px;}
	
/* Reference lists */
.references {
	font-family: times;
    color: black;    
    font-size: 14px;
}
.references h3, h4 {font-size: 18px;}
.references ul, li {list-style-type: none; margin-left: 0px; margin-bottom: 6px;}	
	
/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: rgb(245,245,245);
  margin-top: 20px;
  font-size: 11px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
