   /* ===== Overordnet ======================================== */
  * { box-sizing: border-box; } 

  body {
      font-family: Arial;
      padding: 10px;
      background: rgb(245,245,245);
      }
  th {font-weight: normal; }

/* ===== Headers ============================================= */
  .headerstroke {
      padding: 10px;
      text-align: center;
      color: white;
      background: rgb(192,0,0);
      background-image: url(/neuro/images/headerhjerne.png);
      background-repeat: no-repeat;}
/* ----- Tema heading ----- */
  .headerstroke h1 {  font-size: 50px;}
  .headerstat {
      padding: 10px;
      text-align: center; 
      color: white;
      background: rgb(163,219,246);
      background-image: url(/research/randomheader.png);
      background-repeat: no-repeat;
      background-size: auto 200px;}
  .headerstat h1 {  font-size: 50px;}

/* ===== Top navigation bar ================================== */
    .topnav {
        overflow: hidden;
        background-color: rgb(35,35,35);
      }
    .topnav a { /* Style the topnav links */
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 18px;
      }	
    .topnav a:hover { /* Change color on hover */
        background-color: #ddd;
        color: black;
    }
/* ============================================================ */
/* Create two unequal columns that floats next to each other */
/* Left column */
    .leftcolumn {   
        float: left;
        width: 20%;
        max-width: 200px;
        height: 100%;
        background-color: rgb(245,245,245);
      }
/* ===== Navigation i venstre side ============================= */
    .sidenav {
        background-color: rgb(87,87,87);
        padding: 1px 20px 20px 20px;
        margin-top: 10px;
        height: 100%;
      }
    .sidenav h3 {
        color:rgb(220,220,220);
        margin-bottom: 0px;
        text-align: right;
        text-transform: uppercase;
      }
    .sidenav h4 {
        display: block;
        color:rgb(220,220,220);
        text-align: right;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom:1px;
        font-size:16px;
        text-transform: uppercase;
      }
    .sidenav a {
        float: right;
        display: block;
        color: rgb(220,220,220);
        margin-top: 1px;
        margin-bottom: 0px;
        text-align: right;
        text-decoration: none;
	      font-size: 13px;
      }
    .sidenav a:hover,
    .sidenav a:focus{
        background-color: rgb(220,220,220);
        color: black;
        width: 100%;
      }
	  .whiteline {
        margin-top: 1px;
        margin-bottom:1px;
        color: white;
        border-top: 0px solid white;
      }
/* ===== Right column ============================================= */
    .rightcolumn {
        float: left;
        width: max(80%, 100% - 200px);
        background-color: rgb(245,245,245);
        padding-left: 20px;
      }

/* ===== Maintexts ================================================= */
@media screen and (orientation: landscape) {
    .maintext {	
        color: black;    
        font-size: 18px;
        margin-inline: auto;
        width: min(800px,90%);  
      }
    .maintext p, ul, li {font-family: times;}
    .maintext h1 {
        text-align: center; 
        letter-spacing: 1px;
        font-size: 40px;}
    .maintext h2 {font-size: 30px;}
    .maintext h3 {font-size: 24px;}
    .maintext h4 {font-size: 20px;}
    .maintext h5 {font-size: 18px;} 
}
/* ~~~~~ Indholdsfortegnelse ~~~~~ */
    .indhold { width: 20%;
        display: block; 
	      float: right; 
        outline: 0px solid lightgray; 
	      border-radius: 10px;
	      background-color: rgb(235,247,253); 
	      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	      margin: 5px 0px 15px 15px;
        padding: 10px;  				
	      font-size: min(15px, 1.5vw)}
    .indhold b {text-align: center;}
    .indhold hr {margin-top: 3px;
            margin-bottom:5px; }   
    .indhold ol {margin-left: -20px; 
            margin-top: -2px; 
            margin-bottom: -2px}
    .indhold a {text-decoration: none; 
            color:darkgray}
    .indhold a:hover {text-decoration: none; 
            color:darkblue}

    .centerimg img { width: 80%;
        display: block;
        margin-inline: auto;
      }
  
  /* Tabel til GUSS test*/    
  .guss--grid { display: grid; margin: auto;
          width: min(800px, 80%); text-align: center;
          grid-template-columns: 1fr 1fr 1fr 1fr 3fr; 
          border-top: 1px solid #ddd;
          border-right: 1px solid #ddd;}
  .guss--grid > div {
          border-bottom: 1px solid #ddd;
          border-left: 1px solid #ddd;}
  .guss--heading { font-weight: bold; background-color:rgb(153,215,246); padding: 0 10px;}
  .guss--col1 { background-color: rgb(222,240,251); }
  .guss--col2 { background-color: rgb(239,248,253); }
  .guss--text { text-align: left; padding: 5px; padding-bottom:10px; font-weight: bold;}
  .guss--sign { font-family: 'Wingdings 2'; font-size:40px; font-weight: bold;}

  /* Tabelvisning i siden om SIP-score */  
    .sipTable { max-width:600px;
		    margin-inline:auto; 
        margin-bottom:40px; 
        border: 0px solid black;
        border-collapse: collapse; }
    .sipTable th {text-align: left; 
        border-bottom: 1px solid #ddd; 
        padding: 5px 10px; 
        font-size: 16px; 
        font-weight: normal; }
    .sipTable tr:nth-child(1) th {text-align: center; 
        font-style: normal;
        font-size: 18px;
        font-weight: bold; }
    .sipTable tr:nth-child(1) {background-color: rgb(153,215,246); 
                          text-align: center}
    .sipTable tr:nth-child(even) {background-color: rgb(222,240,251);}
    .sipTable th:nth-child(1) {width: 60px; text-align: center;}
    .sipTable th:nth-child(2) {width: 190px}
    .sipTable th:nth-child(3) {width: 350px; font-style: italic;}
    .sipList {font-size: 18px;}

/* ----- Index boxes -------------------------------------------------- */
/* Bruges til at skabe box-struktur på forsiderne */
    div.index { max-width: 730px; 
        outline: 0px solid lightgray; 
	      margin: auto;
	      display:grid; gap: 5px;
	      grid-template-columns: 1fr 1fr
      }
    div.index h2 {text-align:center; 
        color: black; 
        margin-top: 10px;}
    div.index a  {text-decoration: none; 
        color: black;}
  @media (orientation: portrait) {
    .index { padding: 0;
        grid-template-columns: 1fr }
        }              
    div.indexbox { max-width: 350px;
        border: 0px solid lightgray; 
        height: 120px;
        padding-inline: 0;
        margin: 10px;
        overflow: hidden;  
	    }
    div.indexbox h3 { padding-left: 20px; 
        text-align:left; 
        color: black; 
        letter-spacing: 2px; 
        margin-top: 10px; 
	      font-size: 16px;}
    div.indexbox h4 { padding-left: 20px; 
        text-align:left; 
        color: black; 
        letter-spacing: 2px; 
        margin-top: 10px; }
    div.indexbox p  { padding-left: 20px; 
        text-align:left; 
        color: gray; 
        padding-right: 20px; 
        font-size: 14px; 
        line-height: 1.2; }
    div.indexbox a:visited {color: black; }
    div.indexbox:hover {background: rgb(255,255,255); 
        border: 0px solid black;
	      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

    /* gridbox */
    .gridbox { width:90%;
        display:grid; gap: 20px;
        grid-template-columns: 1fr 1fr;
        margin: 10px auto 15px auto;
        }
    .gridbox article {border: 0 solid gray;
        padding: 10px;}
    .gridbox article:hover {background: rgb(255,255,255); border: 0px solid black;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);} 
    .gridbox h2 {text-align: center;
        font-size: min(28px, 5vw);} 
    .gridbox p {text-align: justify;
        font-size: min(16px, 4vw);}                       
    .gridbox img {width: min(100%, 600px)} 
    .gridbox a {text-decoration: none;
        color: black}
                          
/* ::::: Særlige boxe til billeder ::::::::::::::::::::::::::::::::::::: */
    .imgbox { width: 350px; height: 500px; 
        border: 0px solid lightgray; 
        padding-inline: 5px;
        margin: 10px;
        overflow: hidden;    
      }
    h3.imgbox { text-align: center; 
        color: black; 
        letter-spacing: 2px;
        margin-top: 10px; }
    h4.imgbox { text-align: center; 
        color: black; 
        letter-spacing: 2px;
        margin-top: 10px; }
    p.imgbox  { text-align: justify;
        color: black; 
        padding-inline: 20px;
      }
    .imgbox a { color: black;}
    .imgbox a:visited { color: black;}
    .imgbox:hover { background: rgb(255,255,255); 
        border: 0px solid black;
		    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
    .imgbox img { width: 100%; height: auto;}
              
/* ::::: Tekst box :::::::::::::::::::::::::::::::::::::::::::::::::::::: */
    div.textbox {
        width: min(90%, 700px);
        display:block; 
        margin: 20px auto;
        padding: 20px; padding-left: 20px;
        outline: 0px solid lightgray; 
	      border-radius: 10px; 
        background-color: rgb(235,247,253);
        box-shadow: 0px 7px 15px 1px rgba(0,0,0,0.26);	
      }
    div.textbox h2 { text-align: center; 
        margin-bottom: 10px;
        margin-top: 0px;} 
    div.textbox h3 {  text-align: center; 
        margin-bottom: 10px;
        margin-top: 0px;}   
    div.textbox p { 
        margin-bottom: 5px;
        margin-top: 0px;
        font-size: 18px; }
    div.textbox ul {
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 18px;}   
    div.textbox ol {
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 18px; }   
/* ---- Illustration med billedlegend ---- */
    .illustration {  display: block;
        max-width: 500px; 
        margin-inline: auto;
        border: 0 solid red;
      } 
    .illustration img { border: 0 solid red;
        margin-inline: auto; 
        width: min(500px, 100%);
      }
    .legend { font-size: 12px;
        text-align: justify;
        font-family: arial;
        line-height: 1.2;
        padding-top: 0px 1%;
      }
/* ============================================================= */
/* ----- Maintext for R -------------------------------------------------- */ 
    .rmaintext { width: min(800px,90%);
        color: black;    
        font-size: 16px;
        margin-inline: auto;
      }
    .rtext {font-size: 16px;}
	  .rtext code {font-size: 16px;}
    h1.rmaintext {font-size: 40px;}
    h2.rmaintext {font-size: 28px;}
    h3.rmaintext {font-size: 24px;}
    h4.rmaintext {font-size: 20px;}
    h5.rmaintext {font-size: 18px;}
/* --- r code --- */	
    .rcode {border: 1px solid gray;
        margin: 20px;
        margin-inline: 20px;
        padding:15px;
        background-color: rgb(242,242,242);
        font-family: courier;
        font-size: min(14px, 1.4vw); 
      }
    .rcode a {color: "#0066ff"}
    .rcode a:hover { background-color: "#f2f2f2"}
    .routput {border: 1px solid gray;
        margin: 20px;
        margin-inline: 20px;
        padding:15px;
        background-color: white;
        font-family: courier;
        font-size: min(14px, 1.4vw); 
      }
    .routput table { text-align: right;}
    .routput th { padding-right:10px; 
        font-weight: normal;
        font-size: min(14px, 1.4vw);
      }
	
/* --- Image table ------------------------------------------------ */
    #imgtable {width:80%;font-family:times;}
    #imgtable table, tr, th {border:0px solid;}
    #imgtable th {width:50%;padding:10px;vertical-align: top;min-width:200px;max-width:300px;}
    #imgtable tr:hover {background-color: rgb(255,255,220);}
    #imgtable h2 {font-size:20px;color:black;margin-top: 1px;}
    #imgtable p {font-size:14px;color:gray;}
    #imgtable a {text-decoration: none;}
    #imgtable img {width:100%;height:100%;border: 1px solid gray;min-width:300px;}
	
/* --- Reference lists ---------------------------------------------- */
    div.ref {font-family: times;
        color: black;    
        font-size: 15px;
      }
    div.ref h3 {font-size: 18px;}
    div.ref h4 {font-size: 18px;}
    div.ref ul {list-style-type: none; 
        margin-left: -30px; 
        margin-bottom: 6px; 
        font-size: inherit;}
    div.ref li {list-style-type: none; 
        margin-left: -10px; 
        margin-bottom: 6px; 
        font-size: inherit;}	

/* ============================================================= */
/* --- Add a card effect for articles --- */
    .card {
        background-color: white;
        padding: 20px;
        margin-top: 10px;
      }
/* --- Clear floats after the columns --- */
    .row:after {
        content: "";
        display: table;
        clear: both;
      }
/* ====== Footer ============================================== */
    footer {font-size: 11px;}
    .footer {
        padding: 20px;
        text-align: center;
        background: rgb(245,245,245);
        margin-top: 20px;
      }
  
/* ============================================================= */
/* Indstillinger for print */
@media print {
  	.headerstroke { display: none; }
    .leftcolumn { display: none; } 
    .topnav a { display: none; }
    .rightcolumn { width: 100%; padding: 0; }
	  .newpage { page-break-before: always } /* Add <div class="newpage"></div> to make a page break in print */
    }
  
@media screen and (max-width: 800px) {
    .headerstroke { display: none; }
    .leftcolumn { display: none; } 
    .rightcolumn {   
            width: 100%;
            padding: 0; margin: 0;
        }
    .maintext {width:100%;}
    }

/* Funktioner der kun skal bruges ved mobilvisning skjules ved landscape visning */
@media screen and (orientation : landscape) {
    .mobilnav { display: none; }
    .footer_small {display: none; }
    }

/* CSS styling til sider Ordliste og neurologiske begreber*/ 
/* Standarden er mobilvisning, med en media query, til landscape*/
@media screen and (orientation: landscape) {
  main {width: 80%; margin: auto;}
  .word-indexword { font-weight: bold; }	
  .word-grid {display: grid;
            grid-template-columns: 1fr 4fr;
            border-top: 0px solid black;
            border-right: 0px solid black;}
  .word-grid > span { padding: 8px 4px;
            font-size: 18px;
            border-bottom: 0px solid black;
            border-left: 0px solid black;}
                                }
