<div class="footer"> 
  <div class="p11"> 

  <p>Tekst og illustrationer af Jacob Liljehult, Klinisk sygeplejespecialist, cand.scient.san<br> 

    Kontakt: email <a href="mailto:jacob.mesot.liljehult@regionh.dk">jacob.mesot.liljehult@regionh.dk </a> - <a href="https://www.researchgate.net/profile/Jacob-Liljehult">ResearchGate</a> - <a href="https://orcid.org/0000-0002-9928-1097">OCID</a></p>  

  <p>Tekst og illustrationer er tilgængelig under Creative Commons <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">Attribution-NonCommercial-NoDerivatives 4.0 (CC BY-NC-ND 4.0)</a>; yderligere betingelser kan være gældende. 

  </p>
  </div> 
</div> 
