<div class="row"> 

  <div class="leftcolumn"> 

    <div class="card1"> 

    <div class="p12"> 

      <h3 style="color:rgb(128,128,128);margin-bottom: 0px;">Neuroanatomi</h3> 

      <hr style="margin-top: 1px;margin-bottom:1px;"> 

      <a href="#">Link</a><br> 

      <a href="#">Link</a><br> 

      <a href="#">Link</a><br> 

      <a href="#">Link</a><br> 

      <a href="#">Link</a><br> 

      <a href="#">Link</a><br> 

      <a href="#">Link</a><br> 

      <a href="#">Link</a><br> 

      <h3 style="color:rgb(128,128,128);margin-bottom: 0px;">Sygdomslære</h3> 

      <hr style="margin-top: 1px;margin-bottom:1px;"> 

      <a href="#">Link</a><br> 

      <a href="#">Link</a><br> 

      <a href="#">Link</a><br> 

      <a href="#">Link</a><br> 

      <a href="#">Link</a><br> 

      <a href="#">Link</a><br> 

      <a href="#">Link</a><br> 

      <a href="#">Link</a><br> 

      <h3 style="color:rgb(128,128,128);margin-bottom: 0px;">Klinik</h3> 

      <hr style="margin-top: 1px;margin-bottom:1px;"> 

      <a href="#">Link</a><br> 

      <a href="#">Link</a><br> 

      <a href="#">Link</a><br> 

      <a href="#">Link</a><br> 

      <a href="#">Link</a><br> 

      <a href="#">Link</a><br> 

      <a href="#">Link</a><br> 

      <a href="#">Link</a><br> 

      <h3 style="color:rgb(128,128,128);margin-bottom: 0px;">Slides</h3> 

      <hr style="margin-top: 1px;margin-bottom:1px;"> 

      <a href="#">Link</a><br> 

    </div></div></div> 
