<!DOCTYPE html>
<html>
<head>
	<link rel="icon" href="/neuro/images/brainicon.png">
	<link rel="stylesheet" href="https://jacobliljehult.github.io/css/style.css">
	{% seo %}

</head>
<body>

<div class="headerstroke">
  <h1 style="margin-bottom: 0px;">Apopleksi</h1>
  <h2 style="margin-top: 0px;">og andre cerebrovaskulære sygdomme</h2>
  
</div>

<div class="topnav">
  <a href="http://jacobliljehult.github.io/neuro/">Apopleksi</a>
  <a href="http://jacobliljehult.github.io/">Statistik</a>
  <a href="http://jacobliljehult.github.io/neuro/" style="float:right">Home</a> 
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="sidenav">
      <h3>NEUROANATOMI</h3>
      <hr style="margin-top: 1px;margin-bottom:1px;">
      <a href="/neuro/content/neuroanatomi_overordnet.html">Overordnet</a><br>

      <h3>Sygdomme</h3>
	    <h4>Apopleksi</h4>
      <hr style="margin-top: 1px;margin-bottom:1px;">
      <a href="/neuro/content/apopleksi.html">Introduktion</a><br>
	<a href="/neuro/content/apo_epidemiologi.html">Epidemiologi</a><br>
	<a href="/neuro/content/klinik.html">Symptomer</a><br>
      <h3>Klinik</h3>
      <hr style="margin-top: 1px;margin-bottom:1px;">
      <br>

	<h3>Undersøgelser</h3>
      <hr style="margin-top: 1px;margin-bottom:1px;">
      <a href="/neuro/content/sip.html">SIP score</a><br>    
	    
      <h3>Slides</h3>
      <hr style="margin-top: 1px;margin-bottom:1px;">
      <a href="/neuro/slides/">Slides</a><br>
      
	    <h3>Litteratur</h3>
      <hr style="margin-top: 1px;margin-bottom:1px;">
      <a href="/neuro/content/references.html">Litteratur</a><br>
      
      <div style="border: 1px gray;">
        <br><br><br>
        <img src="/neuro/images/JacobLiljehult.jpg" style="height: 100px; width: 100px; display: block; margin-left: auto;
 	margin-right: auto; border-radius: 50%;border: 0px solid darkgray;">
        <p style="font-size: 12px;text-align: center; color: rgb(234,234,234)">
        <b style="font-size: 16px; color: white">Jacob Liljehult</b><br>
        Klinisk sygeplejespecialist<br>
        cand.scient.san<br><br>
        <b style="font-size: 14px">Neurologisk afdeling<br>
        Nordsjællands Hospital</b></p>
      </div>  
    </div></div>
  
<div class="rightcolumn"> 
  <div class="card"><div class="maintext">
  	{{ content }}
  </div>
</div>

  </div>
</div>

<div class="footer">
	<p>Tekst og illustrationer af Jacob Liljehult, Klinisk sygeplejespecialist, cand.scient.san<br>
    Kontakt: email <a href="mailto:jacob.mesot.liljehult@regionh.dk">jacob.mesot.liljehult@regionh.dk </a> - <a href="https://www.researchgate.net/profile/Jacob-Liljehult">ResearchGate</a> - <a href="https://orcid.org/0000-0002-9928-1097">OCID</a></p> 
	<p>Tekst og illustrationer er tilgængelig under Creative Commons <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">Attribution-NonCommercial-NoDerivatives 4.0 (CC BY-NC-ND 4.0)</a>; yderligere betingelser kan være gældende.
	</p>
</div>
</body>
</html>
