<!DOCTYPE html>
<html>
  <head>
  	<link rel="icon" href="/neuro/images/brainicon.png">
  	<link rel="stylesheet" href="https://jacobliljehult.github.io/css/style.css">
  	{% seo %}	
  </head>
  <body>
    <div class="headerstat">
      <h1 style="margin-bottom: 0px;">Statistik</h1>
      <h2 style="margin-top: 0px;">eksempler i R</h2>
    </div>

    <div class="topnav">
      <a href="http://jacobliljehult.github.io/neuro/">Apopleksi</a>
      <a href="http://jacobliljehult.github.io/">Statistik</a>
      <a href="http://jacobliljehult.github.io/" style="float:right">Home</a> 
    </div>

    <div class="row">
      <div class="leftcolumn">
        <div class="sidenav">
          <h3>Deskriptiv</h3>
          <hr style="margin-top: 1px;margin-bottom:1px;border-top: 1px solid white;">
            <a href="/research/descriptive_quant.html">Kvantitative data</a><br>
            <a href="/research/descriptive_categ.html">Kategoriske data</a><br>
            <a href="/research/intervals.html">Intervaller</a><br>
	    
          <h3>Analytisk</h3>
          <hr style="margin-top: 1px;margin-bottom:1px;border-top: 1px solid white;"> 
	          <a href="/research/probabilities.html">Sandsynligheder</a><br> 
	          <br>   
	        <h4>Kategoriske udfald</h4>
	          <a href="/research/stat_categorical.html">Kategoriske eksponeringer</a><br>
	          <a href="/research/logisticreg.html">Logistisk regression</a><br> 
	          <br>   
	        <h4>Kvantitative udfald</h4>
	          <a href="/research/cate_quant.html">Kvantitative udfald</a><br>    
	          <a href="/research/linear.html">Linær regression</a><br>    
	          <a href="/research/correlation.html">Korrelationer</a><br>
	          <a href="/research/survival.html">Overlevelse</a><br>
	          <a href="">Poisson regression</a><br>
	
	    
	    
	          <br>
      
          <div style="border: 1px gray;">
            <br><br><br>
            <img src="/neuro/images/JacobLiljehult.jpg" 
              style=" height: 100px; 
                      width: 100px; 
                      display: block; 
                      margin-left: auto;
                      margin-right: auto; 
                      border-radius: 50%;
                      border: 0px solid darkgray;">
            <p style="  font-size: 12px;
                        text-align: center; 
                        color: rgb(234,234,234)">
              <b style="font-size: 16px; 
                        color: white">
                Jacob Liljehult</b><br>
                Klinisk sygeplejespecialist<br>
                cand.scient.san<br><br>
                <b style="font-size: 14px">
                  Neurologisk afdeling<br>
                  Nordsjællands Hospital</b>
            </p>
          </div>  
        </div>
      </div>
  
      <div class="rightcolumn"> 
        <div class="card">
          <div class="rmaintext">
  	        {{ content }}
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
	    <p>
        Tekst og illustrationer af Jacob Liljehult, Klinisk sygeplejespecialist, cand.scient.san<br>
        Kontakt: email <a href="mailto:jacob.mesot.liljehult@regionh.dk">jacob.mesot.liljehult@regionh.dk </a> - 
        <a href="https://www.researchgate.net/profile/Jacob-Liljehult">ResearchGate</a> - 
        <a href="https://orcid.org/0000-0002-9928-1097">OCID</a>
      </p> 
	    <p>
        Tekst og illustrationer er tilgængelig under Creative Commons 
        <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">
          Attribution-NonCommercial-NoDerivatives 4.0 (CC BY-NC-ND 4.0)</a>; 
          yderligere betingelser kan være gældende.
	    </p> 
    </div>
  </body>
</html>
